<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="container-content">
  <div class="content-left" style="float:left;width: 50px;height: 50px;background-color: #5BA525"></div>
  <div class="content-center" style="float:left;width: 200px;height: 50px;background-color: #f59191">
    <p style="margin-top: 5px">adfasdfads</p>
    <p style="margin-top: -10px">adfasdfads</p>
  </div>
  <div class="content-right" style="float:left;width: 50px;height: 50px;background-color: #5656d3"></div>
</div>
</body>
</html>